/*************************************/

/* General Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Monofett";
  font-weight: 600;
  font-size: 16px;
  src: url("./fonts/Monofett/Monofett-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Monoton";
  font-weight: 600;
  font-size: 16px;
  src: url("./fonts/Monoton/Monoton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nico Moji";
  font-weight: 600;
  font-size: 16px;
  src: url("./fonts/nicomoji/NicoMoji-Regular.ttf") format("truetype");
}

html {
  font-family: "Nico Moji", monospace;
  font-weight: 900;

  background: rgb(148, 221, 244);
  background: linear-gradient(
    90deg,
    rgba(148, 221, 244, 1) 0%,
    rgba(222, 235, 239, 1) 100%
  );

  margin: 0 auto;
  min-width: 375px;
  _height: 100vh;
  text-align: center;
}

.header-wrapper {
  margin: 0 0.75rem 0 0.75rem;
}

header {
  margin: 0.75rem auto 0.75rem auto;
  padding: 0.5rem;
  box-shadow: 10px 50px 50px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 2rem 2rem;
  max-width: 90vw;
}

header:hover {
  _box-shadow: 0px 0px 50px 0px black;
}

h1 {
  font-family: "Monoton";
  font-size: 3rem;
  margin: 0rem;
}

.header-text {
  font-family: "Monofett";
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
}

nav {
  margin: 1rem auto 1rem auto;
  max-width: 725px;
  text-align: left;
}

.nav-button {
  padding: 0.5rem;
  background-color: rgb(222, 235, 239);
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.nav-button:after,
.nav-button::before,
.nav-button:visited {
  color: black;
}

.nav-button:hover {
  background-color: rgb(148, 221, 244);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.grid-wrapper {
  margin: 0 5vw 0 5vw;
}

.card-picture {
  max-width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;

  aspect-ratio: 1 / 1;
}

.card-offer {
  _box-shadow: 10px 50px 50px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 1rem 1rem;

  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 1rem;

  text-align: center;
  justify-self: center;

  width: 330px;
  position: relative;
}

.card-offer:hover {
  _box-shadow: 0px 0px 10px 0px black;
}

.star-icon {
  top: 25px;
  left: 25px;
  position: absolute;
  fill: grey;
  padding: 0.5rem;
  width: 15%;
  height: auto;
  z-index: 1;
}

.star-icon:hover {
  fill: rgb(148, 221, 244);
}

.box-star {
  top: 28px;
  left: 28px;
  position: absolute;
  background-color: white;
  padding: 22px;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.box-info {
  top: 28px;
  right: 28px;
  position: absolute;
  background-color: white;
  padding: 9px 15px 9px 15px;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.box-info > p {
  font-size: 1.5rem;
  color: gray;
  margin: 0;
}

.box-info > p:hover {
  color: rgb(148, 221, 244);
}

.inner-wrapper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1rem 1rem;
  _background-color: rgb(222, 235, 239);
}

.tier-wrapper {
  _box-shadow: 10px 50px 50px 10px rgba(38, 36, 36, 0.3);
  _background-color: rgb(222, 235, 239);
  border-radius: 0 0 1rem 1rem;

  padding: 0rem;
  margin: 0;
}

.product {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.4rem;
  text-shadow: 1px 1px 2px rgb(77, 14, 14);
}

.tiers {
  margin: 0;
  padding-bottom: 0.4rem;
}

.buy-button {
  font-family: Monofett;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: rgb(15, 63, 15);
  position: relative;
  right: 90px;
  bottom: 5px;
}

.card-offer > .buy-button:hover {
  color: rgb(28, 119, 28);
}

.timer {
  font-family: Monofett;
  font-size: 1.75rem;
  color: rgb(77, 14, 14);
  position: absolute;
  bottom: -15px;
  right: 22px;
}

.container {
  _display: flex;
  _gap: 20px;
  width: 350px;
  height: 600px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  _box-shadow: 0 3px 10px 0 rgba(#000, 0.1);
  _-webkit-overflow-scrolling: touch;
  _1scroll-padding: 1rem;
  _padding: 1rem;
  margin: auto;
  border-radius: 1rem 1rem;
}

_.container::-webkit-scrollbar {
  display: none;
}

.outer-wrapper {
  _display: flex;
  _justify-content: center;
  _align-items: center;
  _flex: 0 0 300px;
  width: 330px;
  height: 450px;
  scroll-snap-align: start;
  _background-color: #ccc;
  margin-bottom: 3rem;
  border-radius: 1rem 1rem;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fffdfd;
}

.container::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(222, 235, 239);
}

/**************************************************/
/* Small Cards */

.inner-wrapper-offers {
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.card-picture-offers {
  padding-right: 0.35rem;
  border-radius: 1rem 0 0 1rem;
}

.star-icon-offers {
  top: 120px;
  left: 212px;
  position: absolute;
  fill: grey;
  padding: 0.5rem;
  width: 15%;
  height: auto;
  z-index: 1;
}

.star-icon-offers:hover {
  fill: rgb(148, 221, 244);
}

.box-star-offers {
  top: 123px;
  left: 215px;
  position: absolute;
  background-color: white;
  padding: 22px;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.box-info-offers {
  top: 123px;
  right: 15px;
  position: absolute;
  background-color: white;
  padding: 9px 15px 9px 15px;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.box-info-offers > p {
  font-size: 1.5rem;
  color: gray;
  margin: 0;
}

.box-info-offers > p:hover {
  color: rgb(148, 221, 244);
}

.buy-button-offers {
  font-family: Monofett;
  font-size: 3rem;
  margin: 0;
  padding: 0.2rem;
  color: rgb(15, 63, 15);
  position: relative;
  right: 90px;
  bottom: 12px;
}

.card-offer > .buy-button-offers:hover {
  color: rgb(28, 119, 28);
}

.timer-offers {
  font-family: Monofett;
  font-size: 1.2rem;
  color: rgb(77, 14, 14);
  position: absolute;
  bottom: -17px;
  left: 22px;
}

.product-offers {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  text-shadow: 1px 1px 2px rgb(77, 14, 14);
}

.outer-wrapper-offers {
  _display: flex;
  _justify-content: center;
  _align-items: center;
  _flex: 0 0 300px;
  width: 330px;
  height: 450px;
  _scroll-snap-align: start;
  _background-color: #ccc;
  margin-bottom: 3rem;
  border-radius: 1rem 1rem;
}
